#login-container {
    position: relative;
    margin-top: 25%;
}

#login-container p {
    font-size: 12px;
}

.login-box {
    padding: 1em 2em;
}

.login-header {
    padding: 1.5em 2em;
}

.flash {
    padding: 1em 2em;

}

.sub-navigation {
    list-style-type: none;
    margin-top: 0;
    text-transform: capitalize;
}

.sub-navigation li {

}

.sub-navigation li:last-child::after {
    display: none;
}

.sub-navigation li::after {
    content: "";
    border: 1px solid #546e7a  ;
    display: block;
}

.sub-navigation .delete:hover {
    background-color: #ef5350;
}

.sub-navigation a {
    padding: 1.5em;
    display: block;
    color: #fff;
}

.sub-navigation a:hover {
    background-color: rgba(0,0,0,0.1);
}

.admin #main {
    padding: 24px;
}

.content-header {
    padding: 1em 1.5em;
    overflow: hidden;
}

.content-header .btn-floating {
    margin: 0.3em 0 0 1em;
}

.content-sub-header {
    padding: 1em 1.5em 0 1.5em;
    overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    justify-content: center;
    -js-display: flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.data-table {
    padding: 24px;
}

table .actions {
    width: 100px;
}

.form-container {
    padding: 2em;
}

form .error input,
form .error select,
form .error textarea {
    margin-bottom: 0.5em;
}

form .error input {
    border-bottom: 2px solid #F44336;
}

form .error-message {
    font-size: 12px;
    color: #F44336;
}

form .form-error {
    border-color: #F44336;
}

.no-margin {
    margin: 0;
}

h6 {
    font-weight: 900;
    text-transform: capitalize;
}

.pagination .disabled {
    display: none;
}