<div class="row">
 <div class="col-sm-6">
  <div  class="btn btn-info display btn-block"  data-ng-click="display=1">
   <p data-ng-repeat="m in matches|filter:infoScorecard">{{m.teamOne}}</p>
  </div>
 </div>   
 <div class="col-sm-6">
  <div  class="btn btn-info display btn-block"  data-ng-click="display=0">
   <p data-ng-repeat="m in matches|filter:infoScorecard">{{m.teamTwo}}</p>
  </div>
 </div>
</div>
<div class="row">
 <div class="col-sm-12">
  <div> 
   <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
     <caption data-ng-repeat="m in matches|filter:infoScorecard">{{m.matchType}} {{m.teamOne}} VS {{m.teamTwo}} at {{m.venue}} on {{m.date}} Scorecard</caption>
     <thead>
      <tr>
       <th scope="col" id="runs">Runs</th>
       <th scope="col" id="wickets">Wickets Lost</th>
       <th scope="col" id="overs">Overs</th>
      </tr>
     </thead>
     <tbody data-ng-show="display == 1">
      <tr data-ng-repeat="s in scorecards|filter:infoScorecard|filter:teamOne">
       <td headers="runs">{{s.runs}}</td>
       <td headers="wickets">{{s.wicketsLost}}</td>	
       <td headers="overs">{{s.overs}}</td>	
      </tr>
     </tbody>
     <tbody data-ng-hide="display == 1">
      <tr data-ng-repeat="s in scorecards|filter:infoScorecard|filter:teamTwo">
       <td headers="runs">{{s.runs}}</td>
       <td headers="wickets">{{s.wicketsLost}}</td>	
       <td headers="overs">{{s.overs}}</td>		
      </tr>
     </tbody>	
    </table>
   </div>
   <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
     <caption>Players Performances</caption>
     <thead>
      <tr>
       <th scope="col" id="player">Player</th>
       <th scope="col" id="status">Status</th>
       <th scope="col" id="runs">Runs</th>
       <th scope="col" id="balls">B</th>
       <th scope="col" id="4's">4s</th>
       <th scope="col" id="6's">6s</th>
      </tr>
     </thead>
     <tbody data-ng-show="display == 1">
      <tr data-ng-repeat="ps in playerScorecard|filter:infoScorecard|filter:teamOne|limitTo:3">
       <td headers="player">{{ps.batsman}}</td>
       <td headers="status">{{ps.status}}</td>
       <td headers="runs">{{ps.runs}}</td>	
       <td headers="balls">{{ps.balls}}</td>	
       <td headers="4's">{{ps.fours}}</td>	
       <td headers="6's">{{ps.sixes}}</td>	
      </tr>
     </tbody>
     <tbody data-ng-hide="display == 1">
      <tr data-ng-repeat="ps in playerScorecard|filter:infoScorecard|filter:teamTwo|limitTo:3">
       <td headers="player">{{ps.batsman}}</td>
       <td headers="status">{{ps.status}}</td>
       <td headers="runs">{{ps.runs}}</td>	
       <td headers="balls">{{ps.balls}}</td>	
       <td headers="4's">{{ps.fours}}</td>	
       <td headers="6's">{{ps.sixes}}</td>
      </tr>
     </tbody>
    </table>
   </div>
   <button class="btn btn-info btn-block" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-list-alt"></span> Full Scorecard</button>
   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
      <div class="modal-header">
       <button class="close" type="button" data-dismiss="modal">&times;</button>
       <h4 class="modal-title" data-ng-repeat="m in matches|filter:infoScorecard">{{m.matchType}} {{m.teamOne}} VS {{m.teamTwo}} Scorecard</h4>
      </div>
      <div class="modal-body">
       <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
         <caption>Players Performances</caption>
         <thead>
          <tr>
           <th scope="col" id="player">Player</th>
           <th scope="col" id="status">Status</th>
           <th scope="col" id="runs">Runs</th>
           <th scope="col" id="balls">B</th>
           <th scope="col" id="4's">4s</th>
           <th scope="col" id="6's">6s</th>
          </tr>
         </thead>
         <tbody data-ng-show="display == 1">
          <tr data-ng-repeat="ps in playerScorecard|filter:infoScorecard|filter:teamOne">
           <td headers="player">{{ps.batsman}}</td>
           <td headers="status">{{ps.status}}</td>
           <td headers="runs">{{ps.runs}}</td>	
           <td headers="balls">{{ps.balls}}</td>	
           <td headers="4's">{{ps.fours}}</td>	
           <td headers="6's">{{ps.sixes}}</td>	
          </tr>
         </tbody>
         <tbody data-ng-hide="display == 1">
          <tr data-ng-repeat="ps in playerScorecard|filter:infoScorecard|filter:teamTwo">
           <td headers="player">{{ps.batsman}}</td>
           <td headers="status">{{ps.status}}</td>
           <td headers="runs">{{ps.runs}}</td>	
           <td headers="balls">{{ps.balls}}</td>	
           <td headers="fours">{{ps.fours}}</td>	
           <td headers="sixes">{{ps.sixes}}</td>
          </tr>
         </tbody>	
        </table>
       </div>
      </div>
     </div>
     <div class="modal-footer">
      <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>